* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}
.number-guessing-game {
  width: 90%;
  border: 2px solid #fff;
  padding: 9.6rem 0;
}
.number-guessing-heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.guess-form {
  margin-top: 2rem;
  align-content: center;
}
.form-description {
  font-size: 1.2rem;
}
.form-description:last-child {
  margin-top: 1rem;
}
.description-div {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  align-items: center;
}
form label {
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
form input {
  padding: 0.6rem 2.5rem;
  display: block;
  align-items: center;
  align-self: center;
}
